html{
    height: 100%;
}

.noscroll{
    overflow: hidden;
}

body{
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}
.wrapper{
    overflow: scroll;
}
/* ==================================
BACKGROUND STYLE
=====================================*/
.whitebg{
    background-color: #FFFFFF;
    color: #464646;
}

.blackbg{
    background-color: #181818;
    color: #FFFFFF;
}

/* ==================================
TEXT STYLE
=====================================*/
.mobile-menu{
    color: #5CF6C3;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    cursor: pointer;
}

.desktop-menu{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: .8em;
}

.text{
    font-family: 'Noto Sans HK', sans-serif;
    font-style: normal;
    font-weight: 300;
}

#menu a, #burger a{
    text-decoration: none;
    color: #5CF6C3;
}

.link{
    font-family: 'Noto Sans HK', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #CECECE;
    transition: color .3s ease;
}

.link:hover{
    color: #5CF6C3;
}

.title-project{
    font-family: 'Noto Sans HK', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    transition: color .3s ease;
}

.personnal-project{
    color: #6B6B6B;
}

.title-project:hover{
    color: #5CF6C3;
}

.chip-container{
    display: flex;
    flex-flow: row wrap;

}

.chip{
    display: inline-block;
    padding: 8px 20px;
    margin-right: 12px;
    border-radius: 50px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: .8em;
    text-transform: uppercase;    
    color: #DFDFDF;
    background-color: #3B3B3B;
}

h1{
    font-family: 'Alegreya Sans', sans-serif;
    color: #CECECE;
    transform: matrix(0.71, 0.34, -1.12, 0.62, 0, -5);
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ==================================
SECTION
=====================================*/
.button{
    position: fixed;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    transition: all .3s ease;
    font-size: 2.2em;
}

.desktop-menu{
    position: fixed;
    z-index: 900;
}

#contact-button{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#about-button{
    top: 50%;
    transform: rotate(270deg);
}

#work-button{
    right: 0%;
    top: 50%;
    transform: rotate(90deg);
}

.desktop-menu span{
    position: relative;
    display: block;
    cursor: pointer;
     color: #5CF6C3;
}

.desktop-menu span:before, .desktop-menu span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    background: #181818;
}

.desktop-menu span:before {
    left: -2.5px;
}
.desktop-menu span:after {
    right: 2.5px;
    background: #181818;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.desktop-menu span:hover:before {
    background: #181818;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.desktop-menu span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.bottom-name{
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-family: 'Noto Sans HK', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    color: #CECECE;
}

#contact{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #5CF6C3;
    top: -250%;
}

#contact.open{top: 0;}

#about{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #181818;
    left: -100%;
    top: 0;
}

#console{
    position: absolute;
    bottom: 80px;
    left: 10%;
    padding-right: 100px;
    max-width: 700px;
}

.cursor {
    background: #5CF6C3;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s infinite linear;
    -ms-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
    -o-animation: blink 1s infinite linear;
    -webkit-box-shadow: 0 0 5px rgba(0,100,0,40);
    -moz-box-shadow: 0 0 5px rgba(0,100,0,40);
    -ms-box-shadow: 0 0 5px rgba(0,100,0,40);
    -o-box-shadow: 0 0 5px rgba(0,100,0,40);
    box-shadow: 0 0 5px rgba(0,100,0,40);
}

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-ms-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-moz-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-o-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 20px;
}

.anim {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap, .wrapp{
    flex-flow: row wrap;
}

.anim .card {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: auto;
}

.card.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

