/* ==================================================
        MOBILE 320PX
====================================================*/

@media screen and (min-width:120px) {

  .desktop-menu, .pic_project, .scroll {
    display: none;
  }

  /* =================================
          HOME
  ===================================*/

  /*============= menu burger ===========*/

  #hamburger-button {
    position: absolute;
    z-index: 9999;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 30px;
    right: 5%;
    margin-top: 25px;
    cursor: pointer;
  }

  #hamburger-button > span {
    display: block;
    height: 4px;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 30px;
    background-color: #5CF6C3;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
  }

  #hamburger-button.open > span:first-child {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }

  #hamburger-button.open > span:nth-child(2) {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  #hamburger-button.open > span:last-child {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    z-index: 999;
    height: 100%;
    width: 100%;
    right: -100%;
    transition: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: #181818;
    color: #EEF7F4;
  }

  .navbar.open {
    right: 0;
    opacity: 1;
  }

  .navbar ul {
    list-style: none;
    font-size: .8em;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navbar ul li {
    margin-bottom: 4px;
    padding: 4px 0;
    text-align: left;
    z-index: 999;
  }

  /*============= home ===========*/

  .bottom-name{
    font-size: .5em;
  }

  .home_title {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -20;
  }

  .logo_desktop{
    display: none;
  }

  .logo_mobile{
    display: block;
    position: relative;
    top: -16px;
  }

  .logo_mobile img{
    width: 30%;
  }

  h1{
    font-size: 2.5em;
    line-height: 45px;
    margin-bottom: 8px;
  }

  p{
    font-size: .8em;
  }

  h4{
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.6em;
  }

  .home-name {
    opacity: .1;
    margin-top: 22px;
    width: 250px;
  }

  .mode{
    display: none;
  }

  .mode_mobile {
    margin-top: 20px;
    width: 50px;
  }

  /* =================================
        ABOUT
  ===================================*/

  #console {
    display: none;
  }

  #consolequeries {
    position: absolute;
    bottom: 80px;
    left: 10%;
    padding-right: 60px;
    max-width: 500px;
    line-height: 30px;
    max-height: 400px;
  }

  .text {
    font-size: .8em;
    line-height: 27px;
  }

  .link {
    font-size: 1em;
    line-height: 27px;
  }

  /* =================================
        CONTACT
  ===================================*/

  .center-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  [class*=btn-glitch-] {
    display: inline-block;
    font-family: 'PPNeueMontrealMono', sans-serif;
    border: 1px solid #EAEAEA;
    color: #EAEAEA;
    padding: 10px 13px;
    min-width: 175px;
    line-height: 1.5em;
    white-space: no-wrap;
    text-transform: uppercase;
    cursor: pointer;
  }
  [class*=btn-glitch-] .text_btn,
  [class*=btn-glitch-] .decoration {
    display: inline-block;
  }
  [class*=btn-glitch-] .decoration {
    display: inline-block;
    float: right;
  }
  [class*=btn-glitch-]:hover, [class*=btn-glitch-]:focus {
    animation-name: glitch;
    animation-duration: 0.2s;
    background-color: #5CF6C3;
    color: #181818;
    border: 1px solid #5CF6C3;
  }
  [class*=btn-glitch-]:hover .text-decoration, [class*=btn-glitch-]:focus .text-decoration {
    animation-name: blink;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
  }
  [class*=btn-glitch-]:hover .decoration, [class*=btn-glitch-]:focus .decoration {
    animation-name: blink;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
  }
  [class*=btn-glitch-]:hover :before, [class*=btn-glitch-]:focus :before {
    content: " ";
    width: 15px;
    border: 1px solid #181818;
    position: absolute;
    right: 25%;
    bottom: 3px;
    transform: rotate(35deg);
  }
  [class*=btn-glitch-]:hover :after, [class*=btn-glitch-]:focus :after {
    animation-name: shrink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    content: " ";
    width: 75%;
    border: 1px solid #181818;
    position: absolute;
    left: 0;
    bottom: 5px;
  }
  [class*=btn-glitch-]:active {
    background: none;
    color: #5CF6C3;
    }
  [class*=btn-glitch-]:active .text-decoration {
    animation-name: none;
  }
  [class*=btn-glitch-]:active .decoration {
    animation-name: none;
  }
  [class*=btn-glitch-]:active :before, [class*=btn-glitch-]:active :after {
    display: none;
  }

  @keyframes glitch {
    25% {
      background-color: red;
      transform: translateX(-10px);
      letter-spacing: 10px;
    }
    35% {
      background-color: green;
      transform: translate(10px);
    }
    59% {
      opacity: 0;
    }
    60% {
      background-color: blue;
      transform: translate(-10px);
      filter: blur(5px);
    }
    100% {
      background-color: #5CF6C3;
      blur: 5px;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @keyframes shrink {
    100% {
      width: 10%;
    }
  }

  /* =================================
        WORK
  ===================================*/

  .preview, .tableHeader{
    display: none;
  } 

  .grid_layout{
    grid-template-columns: repeat(8, 1fr);
  }

  .list_projects{
    grid-column: 1/9;
  }

  .detailListItem{
    padding: 20px 0;
  }

  .AccordionlistItem{
    text-align: left;
    row-gap: 8px;
    column-gap: 4px;
  }

  .ListItem_date{
    grid-column: 1/4;
  }

  .ListItem_title{
    grid-column: 1/9;
    padding-bottom: 8px;
  }

  .tag_ListItem{
    grid-column: 1/9;
    grid-row: 3;
  }

  .smallcaps_Text{
    font-size: 0.7em;
  }

  .clients_logo{
    row-gap: 32px;
    column-gap: 44px;
  }

  .clients_logo img:first-child{
    grid-column: 1/4;
  }

  .clients_logo img:nth-child(2){
    grid-column: 4/8;
  }
  .clients_logo img:nth-child(3){
    grid-column: 1/4;
  }

  .clients_logo img:nth-child(4){
    grid-column: 4/8;
  }
  .clients_logo img:nth-child(5){
    grid-column: 1/4;
  }

  .clients_logo img:nth-child(6){
    grid-column: 4/8;
  }
  .clients_logo img:nth-child(7){
    grid-column: 1/4;
  }

  .clients_logo img:nth-child(8){
    grid-column: 4/7;
  }

  .clients{
  padding-bottom: 5rem;
  }

  .clients_logo img{
    width: 80%;
  }

  /* ============ project page ============*/

  #smooth-content{
    padding: 0 16px;
  }

  .Project_header{
    margin: 8rem 0;
  }

  h3{
    font-size: 3em;
    margin-left: 0;
  }

  .left_details{
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  .project_title{
    align-items: flex-start;
  }

  .sub{
    font-size: 1.1em;
  }

  .details{
    font-size: .8em;
  }

  .project_description{
    margin: 10rem 0 2rem 0;
  }

  .project_txt{
    margin: 0 0 0 28px;
    font-size: .9em;
    line-height: 24px;
  }

  h5{
    font-size: .9em;
  }

  .description_mockup{
    width: 90%;
    top: 70rem;
    left: -20%;
  }

  .left_item-hubfun{
    top: 55rem;
  }

  .project_about, .project_objective{
    margin-bottom: 180px;
  }

  .project_objective h5, .project_objective .project_txt{
    padding: 0 20px;
  }

  .images {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .spacer {
    height: 90vh;
  }

  .title_page_project {
    margin: 140px 0 5px 10px;

  }

  .chip-container{
    margin: 10px 30px 40px 30px;
  }

  .chip_small{
    margin-top: 0;
  }
}

/* ==================================================
MOBILE 360PX
====================================================*/

@media screen and (min-width:360px) {
  .home-name {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .mode_mobile{
    margin-top: 50px;
  }

  .chip_small{
    font-size: 1em;
  }

  h1{
    font-size: 3em;
    line-height: 50px;
  }

  h4{
    margin-top: 3em;
    line-height: 1.8em;
  }

 .project_about{
    margin-bottom: 18rem;
  }

  .title_page_project{
    margin: 170px 0 5px 10px;
  }

  .spacer{
    height: 80vh;
  }
}

/* ==================================================
MOBILE 375PX
====================================================*/

@media screen and (min-width:375px) {
  .home-name {
    margin-top: 30px;
  }

  h1{
    font-size: 3.5em;
    line-height: 55px;
  }

  .clients_logo{
    row-gap: 44px;
    column-gap: 48px;
  }
}

/* ==================================================
MOBILE 384PX
====================================================*/

@media screen and (min-width:384px) and (max-height:640px) {
  .home_title{
    top: 18%;
  }

  h1{
    font-size: 3.2em;
    line-height: 55px;
  }
}

/* ==================================================
MOBILE 390PX
====================================================*/

@media screen and (min-width:390px) {
  .title_page_project{
    margin: 200px 0 5px 10px;
  }

  h4{
    font-size: 1.1em;
  }

   .clients_logo{
    row-gap: 32px;
  }

  .clients_logo img:first-child{
    grid-column: 1/3;
  }

  .clients_logo img:nth-child(2){
    grid-column: 3/6;
  }
  .clients_logo img:nth-child(3){
    grid-column: 6/8;
  }

  .clients_logo img:nth-child(4){
    grid-column: 1/3;
  }
  .clients_logo img:nth-child(5){
    grid-column: 3/6;
  }

  .clients_logo img:nth-child(6){
    grid-column: 6/9;
  }
  .clients_logo img:nth-child(7){
    grid-column: 1/3;
  }

  .clients_logo img:nth-child(8){
    grid-column: 3/5;
  }

  .clients_logo img {
        width: 100%;
    }
}

/* ==================================================
MOBILE 411PX
====================================================*/

@media screen and (min-width:411px) {
  .home-name {
    margin-top: 23px;
    width: 340px;
  }

  h4{
    font-size: 1.25em;
    line-height: 1.8em;
  }

  .text {
    font-size: 1em;
    line-height: 32px;
  }

  .navbar ul {
    font-size: 1em;
  }

  .navbar ul li {
    padding: 8px 0;
  }

  #consolequeries {
    bottom: 100px;
  }

  .chip_small{
    font-size: 1em;
  }
  
  .ListItem_title{
    font-size: 1.5em;
  }

  .smallcaps_Text{
    font-size: .8em;
  }

  .detailListItem{
    padding: 28px 0;
  }

   .project_about{
    margin-bottom: 20rem;
  }
}

/* ==================================================
MOBILE 430PX
====================================================*/

@media screen and (min-width:430px) {
  h1 {
    font-size: 4em;
    line-height: 65px;
  }

  p{
    font-size: 1em;
  }
}

/* ==================================================
MOBILE 480PX
====================================================*/

@media screen and (min-width:480px) {
  .home-name {
    width: 400px;
    margin-bottom: 30px;
  }
  
  h4{
    font-size: 1.5em;
  }

  .navbar ul {
    font-size: 1.2em;
  }

  .navbar ul li {
    padding: 15px 0;
  }

  .text {
    font-size: 1.1em;
    line-height: 38px;
  }

  .title_page_project {
    margin: 200px 0 5px 10px;
  }
}

/* ==================================================
TABLETTE 540PX
====================================================*/

@media screen and (min-width:540px) {
  .home-name {
    margin-top: 12px;
  }

  .logo_mobile img{
    width: 20%;
  }

  h1{
    font-size: 3.8em;
    line-height: 68px;
  }

  h4{
    margin-top: 3em;
    font-size: 1.25em;
    line-height: 1.7em;
  }

  .navbar ul {
    font-size: 1em;
  }

  .grid_layout{
    margin-top: 10%;
  }

   .clients_logo img:first-child{
    grid-column: 1/3;
  }

  .clients_logo img:nth-child(2){
    grid-column: 3/5;
  }
  .clients_logo img:nth-child(3){
    grid-column: 5/7;
  }

  .clients_logo img:nth-child(4){
    grid-column: 7/9;
  }
  .clients_logo img:nth-child(5){
    grid-column: 1/3;
  }

  .clients_logo img:nth-child(6){
    grid-column: 3/5;
  }
  .clients_logo img:nth-child(7){
    grid-column: 5/7;
  }

  .clients_logo img:nth-child(8){
    grid-column: 7/9;
  }

  .description_mockup{
    width: 70%;
  }

  .spacer{
    height: 70vh;
  }

  footer{
    padding-bottom: 12px;
  }
}

/* ==================================================
TABLETTE 768PX
====================================================*/

@media screen and (min-width:768px) {
  /* ============ home ============ */
  #burger {
    display: none;
  }
  
  .desktop-menu{
    display: block;
  }

  .mode {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 250;
  }

  .logo_desktop{
    display: block;
  }

  .logo_mobile{
    display: none;
  }

  .home-name {
    width: 600px;
    margin-top: 7px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 5.5em;
    line-height: 90px;
  }

  h4{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 2em;
  }

  .button{
    margin-bottom: 20px;
  }

  .home_title{
    top: 32%;
  }

  /* ============ about ============ */

  .text {
    font-size: 1.2em;
    line-height: 45px;
  }

  #consolequeries {
    bottom: 140px;
  }

  /* ============ work ============ */

  .grid_layout{
    grid-template-columns: repeat(16, 1fr);
  }

  .list_projects{
    grid-column: 1/17;
  }

  .detailListItem{
    padding: 40px 0;
  }

  .ListItem_title{
    grid-column: 1/17;
    padding-bottom: 12px;
  }

  .tag_ListItem{
    grid-column: 1/17;
  }

  .clients_logo{
    row-gap: 32px;
    column-gap: 44px;
  }

  .clients_logo img:first-child{
    grid-column: 1/4;
  }

  .clients_logo img:nth-child(2){
    grid-column: 4/8;
  }
  .clients_logo img:nth-child(3){
    grid-column: 8/11;
  }

  .clients_logo img:nth-child(4){
    grid-column: 11/14;
  }
  .clients_logo img:nth-child(5){
    grid-column: 1/4;
  }

  .clients_logo img:nth-child(6){
    grid-column: 4/8;
  }
  .clients_logo img:nth-child(7){
    grid-column: 8/11;
  }

  .clients_logo img:nth-child(8){
    grid-column: 11/14;
  }

  .clients_logo img {
    width: 80%;
  }

  .title_page_project {
    margin: 200px 0 10px 20px;
  }

  .chip_small{
    font-size: .8em;
  }

  .thin{
    font-size: .8em;
  }

  .work_footer{
    bottom: 0;
  }

  .description_mockup{
    width: 60%;
    left: -15%;
  }

  .project_txt{
    padding: 0 40px;
  }
}

/* ==================================================
TABLETTE 1024PX
====================================================*/

@media screen and (min-width:1024px) {

  /* =============== home ==============*/

  .home_title {
    width: 40%;
  }

  .home-name {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 20px;
    opacity: 1;
    right: 12%;
  }

  h1{
    font-size: 4em;
    line-height: 55px;
  }

  h4{
    font-size: 1.1em;
  }

  .navbar ul {
    font-size: 4.3em;
  }

  .navbar ul li {
    padding: 35px 0;
  }
  
  /* =============== about ==============*/

  .text {
    font-size: 1.4em;
    line-height: 50px;
  }

  #consolequeries {
    max-width: 650px;
    bottom: 230px;
  }

  /* =============== work ==============*/

  .title_page_project {
    margin: 300px 0 20px 0;
  }

  .images{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:1024px) and (max-height:1366px) {
  .home_title{
    width: 60%;
    top: 42%;
  }

  .home-name{
    width: 60%;
    right: 10%;
    margin-top: -10%;
  }

  h1{
    font-size: 5.5em;
    line-height: 85px;
    margin-bottom: 12px;
  }

  h4{
    font-size: 1.5em;
    line-height: 1.8em;
  }

  p{
    font-size: 1.1em;
  }

  .preview, .tableHeader{
    display: none;
  } 

    .list_projects{
    grid-column: 1/25;
  }

  .detailListItem{
    padding: 32px 0;
  }

  .ListItem_title{
    grid-column: 1/25;
  }

  .tag_ListItem{
    grid-column: 1/25;
  }
}

/* ==================================================
DESKTOP 1100PX
====================================================*/

@media screen and (min-width:1100px) {

  /* =============== home ==============*/
  #burger,
   #consolequeries {
    display: none;
  }
  
  .desktop-menu, #console, .pic_project, .scroll {
    display: block;
  }

  h1{
    font-size: 5.5em;
    line-height: 85px;
    margin-bottom: 12px;
  }

  p, h4{
    font-size: 1.2em;
    line-height: 1.7em;
  }

  .home_title{
    width: 80%;
    bottom: 10%;
    left: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left{
    width: 60%;
  }

  .right{
    width: 20%;
  }
  
  .text{
    font-size: 1.2em;
    line-height: 40px;
  }
  
  /* =============== work ==============*/

   .grid_layout{
    grid-template-columns: repeat(24, 1fr);
    margin-top: 15%;
  }

  .preview, .tableHeader{
      display: grid ;
    } 

  .list_projects{
      grid-column: 8 / 25;
  }

  .tableHeader_list{
      grid-column: 1 / 19;
  }

  .tableLabel-date{
      grid-column: 1/3;
  }

  .tableLabel-name{
      grid-column: 3/13;
  }

  .tableLabel-type{
      grid-column: 13/18;
  }

  .detailListItem{
    padding: 20px 0;
  }

  .ListItem_date{
    grid-column: 1/3;
  }

  .ListItem_title{
    grid-column: 3/12;
    padding-bottom: 0;
    font-size: 1.2em;
  }

  .tag_ListItem{
    grid-column: 13/18;
    grid-row: 1;
  }

  .clients_logo{
      column-gap: 32px;
      row-gap: 12px;
  }

  .clients_logo img:first-child{
      grid-column: 1 / 3;
  }
  .clients_logo img:nth-child(2){
      grid-column: 3 / 5;
  }
  .clients_logo img:nth-child(3){
      grid-column: 5 / 7;
  }
  .clients_logo img:nth-child(4){
      grid-column: 7 / 9;
  }
  .clients_logo img:nth-child(5){
      grid-column: 9 / 11;
  }
  .clients_logo img:nth-child(6){
      grid-column: 11 / 13;
  }
  .clients_logo img:nth-child(7){
      grid-column: 13 / 15;
  }
  .clients_logo img:nth-child(8){
      grid-column: 15 / 17;
  }

  .scroll{
    position: absolute;
    left: 50%;
    top: 88vh;
    transform: translateX(-50%);
  }
  
  .scroll img{
    width: 40px;
  }
  
  .opacity{
    opacity: 0;
  }

  #smooth-content {
    padding: 0px 90px;
  }

  .Project_header {
    margin: 10rem 0px;
  }

  .project_title{
    align-items: flex-end;
  }

  .left_details{
    flex-direction: row;
  }

  .project_description {
    margin: 20rem 0 2rem 0;
  }

  h5, .project_txt{
    font-size: 1em;
    line-height: 28px;
  }

  h3{
    font-size: 4em;
  }

  .sub{
    font-size: 1.3em;
  }

  .details{
    font-size: 1em;
  }
  .description_mockup{
    width: 55%;
  }

  .project_txt{
    margin: 0 40px;
    padding: 0;
  }

  .back{
      font-size: 1em;
    }
}

/* ==================================================
DESKTOP 1438PX
====================================================*/

@media screen and (min-width:1438px) {
  h1{
    font-size: 6.25em;
    line-height: 1em;
  }

  p, h4{
    font-size: 1.4em;
  }

  .Project_header {
      margin: 15rem 0px;
  }

  .spacer{
    height: 50vh;
  }

  .nav_project{
    padding: 5rem 0;
  }

  .sub{
    font-size: 1.8em;
    line-height: 1.3em;
  }

  h3{
    font-size: 5em;
  }

  .description_mockup{
    top: 60rem;
  }

  .back{
    margin: 22px;
  }
}

/* ==================================================
DESKTOP 1512PX
====================================================*/

@media screen and (min-width:1512px) {
  #contact-button{
    top: 30px;
  }
  
  #console{
    bottom: 150px;
  }

  .desktop-menu{
    top: 40px;
    left: 40px;
  }

  .mode{
    top: 40px;
    right: 40px;
  }

  .back{
    margin: 40px;
  }

  .home_title{
    left: 40px;
  }

  .logo_desktop{
    width: 200px;
  }

  .title_page_project{
    margin: 300px 0 20px 0;
  }

  .text{
    font-size: 1.4em;
    line-height: 40px;
  }

  .clients{
  padding-bottom: 10rem;
  margin: 12rem 0;
  } 
}

/* ==================================================
DESKTOP 1727PX
====================================================*/

@media screen and (min-width:1727px) {
  h1{
    font-size: 7.5em;
    line-height: 105px;
  }

  h2{
    font-size: 4.5em;
  }

  p, h4{
    font-size: 1.6em;
  }

  .clients{
    padding-bottom: 10rem;
    margin: 14rem 0;
  }

  #smooth-content {
    padding: 0px 160px;
  }

  .description_mockup{
    width: 50%;
    top: 80rem;
  }
}

/* ==================================================
DESKTOP 1920PX
====================================================*/

@media screen and (min-width:1920px) {
  h1{
    font-size: 7.5em;
    line-height: 105px;
  }

  .grid_layout{
    margin-top: 10%;
  }

  #smooth-content {
    padding: 0px 200px;
  } 

  .description_mockup{
    left: -10%;
  }
}

/* ==================================================
DESKTOP 2500PX
====================================================*/

@media screen and (min-width:2500px) {  
  .button {
    margin-bottom: 30px;
  }

  .bottom-name {
    font-size: .7em;
  }

  .home-name{
    width: 50%;
    top:0;
  }
  
  h1{
    font-size: 10em;
    line-height: 150px;
  }

  h2{
    font-size: 5em;
  }

  p, h4{
    font-size: 2em;
  }

  #contact-button{
    top: 40px;
  }
  .grid_layout{
  margin-top: 8%;
  }

  .clients_logo{
    column-gap: 80px;
  }

  .clients{
    margin: 20rem 0;
  }

  .text{
    font-size: 2em;
    line-height: 60px;
  }

  .smallcaps_Text {
    font-size: 1em;
  }

  .chip_small{
    font-size: .8em;
    padding: 8px 12px;
  }
  
  .scroll img{
    width: 60px;
  }
  
  #smooth-content {
    padding: 0px 300px;
  }

  .description_mockup{
    width: 40%;
  }

  .project_description {
  margin: 20rem 30% 2rem 0;
  }

  .project_footer{
    padding-top: 0;
  }
}

/* ==================================================
DESKTOP 3840PX
====================================================*/

@media screen and (min-width: 3840px) {
  .desktop-menu{
    top: 80px;
    left: 80px;
  }

  .logo_desktop{
    width: 400px;
  }

  .button{
    margin-bottom: 40px;
  }
  
  #contact-button{
    top: 60px;
  }

  .home_title{
    left: 80px;
  }

  h1{
    font-size: 16em;
    line-height: 230px;
  }

  h2{
    font-size: 8em;
  }
  
  p, h4{
    font-size: 3.3em;
  }

  .mode{
    top: 80px;
    right: 80px;
  }

  .grid_layout{
    margin-top: 6%;
  }

  .projects{
    row-gap: 80px;
  }

  .preview{
    row-gap: 20px;
  }
  .tableHeader{
    padding-bottom: 20px;
  }
  .tableLabel{
    font-size: 1.5em;
  }

  .ListItem_title{
    font-size: 2.5em;
  }

  .detailListItem{
    padding: 40px 0;
  }

  .clients{
    padding-bottom: 10rem;
    margin: 28rem 0;
  }

  .clients_logo{
    column-gap: 120px;
  }

  .bottom-name{
    font-size: 1.2em;
  }
  
  #console{
    bottom: 300px;
    max-width: 1400px;
  }
  
  .text{
    font-size: 3.3em;
    line-height: 100px;
  }
  
  .title_page_project{
    margin-bottom: 50px;
  }

  .smallcaps_Text {
    font-size: 1.3em;
  }

  .chip_small{
    font-size: .9em;
    padding: 12px 20px;
  }
  
  .scroll img{
    width: 120px;
  }

  footer{
    padding-bottom: 40px;
  }

  .bottom-name{
    font-size: 1.3em;
  }

  .description_mockup{
    width: 35%;
    left: -10%;
  }

  .Project_header{
    margin: 20rem 0px;
  }
}

/* ==================================================
MOBILE 320PX LANDSCAPE
====================================================*/

@media screen and (min-width:120px) and (max-height:520px) and (orientation: landscape) {
 
  /* ======================= home ==============*/
  .home-name{
    width: 300px;
    transform: rotate(-12deg);
  }
  
  h1{
    font-size: 1em;
  }
  
  .bottom-name{
    font-size: .5em;
    bottom: 20px;
  }
  
  .navbar ul{
    font-size: .8em;
  }
  
  .navbar ul li{
    padding: 5px 0;
  }
  
  .mode_mobile{
    margin-top: 20px;
  }
  
  /* ======================= about ==============*/
  
  .text{
    font-size: .8em;
    line-height: 28px;
  }
  
  #consolequeries{
    bottom: 40px;
  }
}

/* ==================================================
MOBILE 480PX LANDSCAPE
====================================================*/

@media screen and (min-width:480px) and (max-height:320px){
  .home_title{
    width: 40%;
  }
  
  h1{
    font-size: 1.8em;
    line-height: 35px;
  }
  
  p{
    font-size: .6em;
  }
  
  h4{
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 1.5em;
  }

  .home-name{
    opacity: 1;
    width: 250px;
    right: 10%;
  }

  .bottom-name{
    font-size: .4em;
    bottom: 8px;
  }
}

/* ==================================================
MOBILE 640PX LANDSCAPE
====================================================*/

@media screen and (min-width:640px) and (max-height:384px){
  .home_title{
    width: 70%;
    bottom: 10%;
    left: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left{
    width: 60%;
  }
  
  .right{
    width: 22%;
  }
  
  h1{
    font-size: 2.2em;
    line-height: 40px;
  }
  
  p{
    font-size: .6em;
  }
  
  h4{
    font-size: .8em;
    line-height: 1.5em;
  }

  .home-name{
    width: 250px;
    right: 10%;
  }
  
  .description_mockup{
    width: 60%;
    left: -15%;
    top: 40rem;
  }

  .spacer{
    height: 100vh;
  }

  .bottom-name{
    font-size: .4em;
    bottom: 8px;
  }
}

/* ==================================================
MOBILE 700PX LANDSCAPE
====================================================*/

@media screen and (min-width:700px) and (max-height:520px) and (orientation: landscape) {
   .home_title{
    width: 70%;
    bottom: 10%;
    left: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left{
    width: 60%;
  }

  .right{
    width: 22%;
  }

  h1{
    font-size: 2.5em;
    line-height: 45px;
  }
  
  p{
    font-size: .6em;
  }
  
  h4{
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 1.5em;
  }

  .home-name{
    opacity: 1;
    right: 10%;
  }
  
  .bottom-name{
    font-size: .4em;
    bottom: 8px;
  }
}

/* ==================================================
MOBILE 720PX LANDSCAPE
====================================================*/

@media screen and (min-width:720px) and (max-height:540px) and (orientation: landscape) {
.home_title{
    width: 70%;
    bottom: 10%;
    left: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left{
    width: 60%;
  }

  .right{
    width: 30%;
  }

  h1{
  font-size: 2.5em;
  line-height: 45px;
  }
}

/* ==================================================
MOBILE 882PX LANDSCAPE
====================================================*/

@media screen and (min-width:882px) and (max-height:344px) and (orientation: landscape) {
  h1{
    font-size: 2.3em;
    line-height: 38px;
  }
}

/* ==================================================
MOBILE 960PX LANDSCAPE
====================================================*/

@media screen and (min-width:960px) and (max-height:600px) and (orientation: landscape) {
  .home_title{
    width: 70%;
    bottom: 10%;
    left: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left{
    width: 60%;
  }

  .right{
    width: 22%;
  }

  h1{
    font-size: 3.8em;
    line-height: 60px;
  }
  
  p{
    font-size: 1em;
  }
  
  h4{
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .home-name{
    width: 42%;
    opacity: 1;
    right: 8%;
    margin-top: 0;
  }

  .navbar ul{
    margin-top: -45%;
  }

  .bottom-name{
    font-size: .4em;
    bottom: 8px;
  }
  
  .logo_desktop{
    top: 0;
  }
}

/* ==================================================
TABLETTE 1024PX LANDSCAPE
====================================================*/

@media screen and (min-width:1000px) and (max-height:768px) and (orientation: landscape) {
  .home_title{
    width: 70%;
    bottom: 10%;
    left: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .left{
    width: 60%;
  }

  .right{
    width: 22%;
  }

  .text{
    font-size: 1.2em;
    line-height: 40px;
  }
}